*.ncrunchsolution
AOUT.Ch1.Examples.Tests/bin/Release/
AOUT.Ch1.Examples.Tests/obj/
AOUT.CH1.Examples/bin/
AOUT.CH1.Examples/obj/
AOUT.CH3.LogAn/bin/
AOUT.CH3.LogAn/obj/
AOUT.CH3.Logan.Tests/bin/Release/
AOUT.CH3.Logan.Tests/obj/
AOUT.CH4.LogAn/bin/
AOUT.CH4.LogAn/obj/
AOUT.CH5.LogAn/bin/
AOUT.CH5.LogAn/obj/
AOUT.CH5.Logan.Tests/bin/Release/
AOUT.CH5.Logan.Tests/obj/
AOUT.CH6.LogAN/bin/
AOUT.CH6.LogAN/obj/
AOUT.CH6.LogAn.Tests.Integration/bin/
AOUT.CH6.LogAn.Tests.Integration/obj/
AOUT.CH6.LogAn.Tests/bin/Release/
AOUT.CH6.LogAn.Tests/obj/
AOUT.CH7.LogAn/bin/
AOUT.CH7.LogAn/obj/
AOUT.CH8.Logan.Tests/bin/Release/
AOUT.CH8.Logan.Tests/obj/
AOUT.CH8.Logan/bin/Release/
AOUT.CH8.Logan/obj/
AOUT.CH9.Examples.Tests/bin/Release/
AOUT.CH9.Examples.Tests/obj/
AOUT.CH9.Examples/bin/Release/
AOUT.CH9.Examples/obj/
AOUT.Ch4.LogAn.Test/bin/Release/
AOUT.Ch4.LogAn.Test/obj/
AOUT.LogAn.Tests/bin/Release/
AOUT.LogAn.Tests/obj/
AOUT.LogAn/bin/
AOUT.LogAn/obj/
AOUT.Misc/bin/Release/
AOUT.Misc/obj/
LogAn.Tests/bin/Release/
LogAn.Tests/obj/Release/